In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
british_airline_data = pd.read_csv(r"../British Airline Data/preprocessed_airline_dataset.csv")
british_airline_data.head()

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
0,service was mediocre at best,Gary Storer,03-10-2023,United Kingdom,"Just returned from Chicago, flew out 10 days ...",A380,Couple Leisure,Economy Class,Chicago to Manchester via Heathrow,01-10-2023,no,Not Verified,2,2,3,1,2,2,-1
1,BA standards continue to decline,A Jensen,02-10-2023,United Kingdom,BA standards continue to decline every time ...,A320,Business,Business Class,London Heathrow to Munich,01-09-2023,no,Verified,2,2,1,2,1,1,-1
2,"won the race to the bottom""",John Rockett,02-10-2023,United Kingdom,Awful. Business class check in queue just as...,A320,Couple Leisure,Business Class,Heathrow to Istanbul,01-09-2023,no,Not Verified,2,2,3,2,1,1,-1
3,Not a reliable airline,Tatiana Bobrovskaya,02-10-2023,United Kingdom,Not a reliable airline. You cannot trust the...,A320,Business,Economy Class,London to Geneva,01-10-2023,no,Verified,3,4,4,2,1,1,-1
4,Very disappointed,Tom Slowbe,28-09-2023,United States,"The airplanes and the lounges are worn out, o...",777-300 and A320,Couple Leisure,First Class,Dallas to Dubrovnik via Heathrow,01-09-2023,no,Verified,1,1,4,4,3,2,3

In [4]:
features = [i for i in british_airline_data.columns]
features

['header',
 'author',
 'date',
 'place',
 'content',
 'aircraft',
 'traveller_type',
 'seat_type',
 'route',
 'date_flown',
 'recommended',
 'trip_verified',
 'rating',
 'seat_comfort',
 'cabin_staff_service',
 'food_beverages',
 'ground_service',
 'value_for_money',
 'entertainment']

In [10]:
unique_reviews = [i for i in british_airline_data['header'].unique()]

In [13]:
unique_author = [i for i in british_airline_data['author'].unique()]
len(unique_author)

833

In [14]:
british_airline_data.shape

(1324, 19)

In [16]:
british_airline_data['food_beverages'].max()

5

# Categorical Features

In [20]:
[i for i in british_airline_data.place.unique()]

['United Kingdom',
 'United States',
 'Germany',
 'Iceland',
 'Australia',
 'Poland',
 'Hong Kong',
 'Qatar',
 'South Africa',
 'Greece',
 'Italy',
 'Senegal',
 'Canada',
 'Chile',
 'Ireland',
 'Netherlands',
 'France',
 'India',
 'Belgium',
 'United Arab Emirates',
 'Spain',
 'New Zealand',
 'Czech Republic',
 'Malaysia',
 'Botswana',
 'Panama',
 'Sweden',
 'Switzerland',
 'Russian Federation',
 'Thailand',
 'Singapore',
 'Saint Kitts and Nevis',
 'Vietnam',
 'Norway',
 'Argentina',
 'Jordan',
 'Mexico',
 'China',
 'Slovakia',
 'South Korea',
 'Ghana',
 'Saudi Arabia',
 'Hungary',
 'Austria',
 'Brazil',
 'Portugal',
 'Taiwan',
 'Romania',
 'Denmark',
 'Turkey',
 'Bahrain',
 'Dominican Republic',
 'Bulgaria',
 'Kuwait',
 'Cyprus',
 'Japan']

In [21]:
[i for i in british_airline_data.aircraft.unique()]

['A380',
 'A320',
 '777-300 and A320',
 'A321',
 'A350',
 'Boeing 787',
 'Boeing 777-200',
 'Boeing 777',
 'Boeing 777-300',
 'A320neo',
 'Embraer-190',
 'A380 / A320',
 'Embraer',
 'Boeing 787-8',
 'E190',
 'A320 A350',
 'A320Neo',
 'A321neo',
 'Boeing 777 -200',
 'A321Neo',
 'A321 neo',
 'Embraer 190',
 'Boeing 737',
 'A320 Finnair',
 'A319',
 'Boeing 787-9',
 'Dreamliner',
 'Boeing 787 / A320',
 'Boeing 777 / A320',
 'Boeing 777-300ER',
 'A320, A380',
 'A350-1000',
 'Boeing 787-10',
 'A320-200',
 'A320, Boeing 787',
 'A321 Neo',
 'Boeing 737 800',
 'A320 / Boeing 777',
 'Boeing 777-200ER',
 'Boeing 787-900',
 'A321-neo',
 'A322',
 'Boeing 737-800',
 'A320 Neo',
 'A320NEO',
 'A330',
 'A230',
 'A321NEO',
 'Boeing 747',
 'Embraer 195',
 'Boeing 747-400',
 'A380-800',
 'Boeing 777-200 / 747-400',
 'Boeing 777 - 200',
 'Boeing 787-9, A320-200',
 'EMB190',
 'A319 / Boeing777',
 'A340-300, A320',
 'A321-200',
 'B777-200',
 'A320 neo',
 'A319 / Boeing 789',
 'Boeing 777-200 and A319',
 'A321 / Boeing 787-9',
 'Boeing 777 / 747',
 'A319 / Boeing 777',
 'B747-400 in retro',
 'A319/A320',
 'B737-400 / A380 / A319',
 'Boeing 744',
 'A380 / Boeing 777',
 'Boeing 747 400',
 'Boeing 777-200/300',
 '777',
 'A320/B788',
 'Boeing 787-9 / A319',
 'B777',
 'B747-400',
 'A380 / A319',
 'Boeing 787 Dreamliner',
 'Airbus A320',
 'Boeing 787-9 / 777 ',
 'A340-300',
 'A319 / Boeing 747',
 'A319 / Boeing 747-400',
 'Boieng 777-200',
 'Boeing 787-9, A380',
 'A320 / Boeing 787-9',
 'Boeing 767',
 'Airbus A32',
 'A319 / Boeing 787-9',
 'Boeing 747-400 / A319',
 'A318',
 'A320 / Boeing 747-400',
 'Boeing 777 / A380',
 'Boeing 787-9 / A380-800',
 'Boeing 747 / 777',
 'Boeing 787(9)',
 'Boeing 747 and Boeing 777',
 'A380 and 747',
 'Boeing 777-200 ER',
 'Boeing 747 / A320',
 'Boeing 777-300ER / A320',
 'A320 / Boeing 787',
 'A319 / Boeing 787-8',
 'Boeing 757',
 'A319/320',
 'E170 / A319',
 'A320/319',
 'E-190',
 'Boeing 777-200 / 787-9 / A319/ 320',
 'A320-233',
 'Embraer 170',
 'Boeing 747-400 / A380',
 'A321 / Boeing 777',
 'A319 / A380 / Boeing 737',
 'A320 / Boeing 767',
 'Boeing 747 & A319',
 'A19',
 'Boeing 747-400 / A320',
 'A321 / Boeing 777-300',
 'Boeing 777 200/300',
 'A380 and Boeing 747',
 'Boeing 777 200',
 'B777-300ER / A320 / A380',
 'A219',
 'Boeing 747-400 / 777-200',
 'A320 / Boeing 777-200',
 'A380/A320',
 'Boeing 747-400 & A320/321',
 'Boeing 787-8 / 787-9',
 'Boeing\xa0777',
 'Boeing 767, A319',
 'Boeing 767-300 ',
 'Boeing 747 / A380',
 'A380 and Boeing 777',
 'Boeing 777-300 / A380',
 'Boeing 787-800',
 'Various',
 'Boeing 767-300',
 'Boeing 747-400 / 777',
 '787',
 'Boeing 777-236 ER',
 'Boeing 777 and Boeing 787',
 'A380 and Boeing 767',
 'A320/A319',
 'A321 / Boeing 747-400',
 'SAAB 2000',
 'A380 / Boeing 747-400',
 'Boeing 747-400 /A380']

In [24]:
british_airline_data[british_airline_data['aircraft']=='Various']

,header,author,date,place,content,aircraft,traveller_type,seat_type,route,date_flown,recommended,trip_verified,rating,seat_comfort,cabin_staff_service,food_beverages,ground_service,value_for_money,entertainment
1169,a worn out and low cost discount carrier,B Pearson,23-11-2016,Thailand,I booked and bought an online ticket for a m...,Various,Business,Economy Class,BKK to LHR via LAD & ABV,01-08-2016,no,Verified,7,1,1,2,2,1,1